.main {
    width: 100%;
}

.labelDate{
    text-align: center;
}

.link{
    text-decoration: none;
}

.shadow {
    box-shadow: 7px 6px 14px 1px rgba(0,0,0,0.7);
}

.overflow {
    overflow: hidden;
}