.pagination {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.pagination a:hover {
  color: white;
  background-color: #2b2eff;
}

.activePage a {
  color: white;
  background-color: #2b2eff;
}

.disabledPage a {
  color: grey;
  border: 1px solid grey;
}