.main {
    width: 100%;
}

.labelDate{
    text-align: center;
}

.link{
    text-decoration: none;
}

.shadow {
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.37);
}

.overflow {
    overflow: hidden;
}